body {
  margin: 0;
}

.page {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-card {
  width: 320px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.admin-card {
  width: 700px;
  max-width: 90%;
  background: white;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.payment-row {
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  background: #f9fafb;
}

.small-text {
  font-size: 12px;
  word-break: break-all;
  color: #666;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}