body {
  margin: 0;
}

.page {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-card {
  width: 320px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}